@import "../variables";

.todoCard {
    width: 500px;
    max-width: 100%;
    margin: 40px auto;

    &__heading {
        font-weight: normal;
        font-weight: 300;
        color: $font-color;
        text-align: center;
    }
}